
:root {
    --primary-background: #a6e2cb;
    --chrome-background: #74a4e3;
    --chrome-background-opaque: #2a5e99d1;
    --secondary-background: #C9B39B;
    --text-color: #32363F;
    --accent-light: #ED8F11;
    --accent-dark: #C27A18;
    
    --gutter: 10px;
}

body {
    /* style */
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--primary-background);
    color: var(--text-color);

    /* layout */
    display: grid;
    grid-template-rows: 80px 1fr auto;

}

img {
    width: 50%;
     
    opacity: .9;
}

header {
    display: flex;
    justify-content: flex-start;
    background-color: var(--chrome-background);
    box-shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    padding: 0 var(--gutter);
}

main {
    overflow-y: auto;
}


footer {
    background-color: var(--chrome-background-opaque);
    padding: 10px var(--gutter);
    align-self: stretch;
}
